.editorScreen{
    display: grid;
}

.editorContainer{
    background: #eaeaea;
    margin-left: 5rem;
    width: calc(100% - 5rem);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor{
    width: 80%;
    height: 80%;
    background: white;
}