.editorScreen{
    background: #eaeaea;
}

.editorContainer{
    margin-left: 5rem;
    width: calc(100% - 5rem);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor{
    width: 70%;
    height: 70%;
    background: white;
}

@media only screen and (max-width: 600px) {
    .editorContainer {
        margin-left: 0;
        align-items: normal;
        justify-content: normal;
        width: 100%;
    }

    .editor{
        width: 100vw;
        height: calc(100% - 5rem);
        background: white;
    }
}