
.containerEditor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(235 235 240);
}

.editor{
    width: 70%;
    height: 80%;
    background: white;
}

@media only screen and (max-width: 600px) {
    .main {
        margin-left: 0;
        width: 100%;
    }
    
    .containerEditor{
        align-items: normal;
        justify-content: normal;
    }

    .editor{
        width: 100%;
        height: 100% ;
        background: white;
    }
}