.cardContainer{
    padding: 10px;
    display: grid;
    height: calc(100vh - 10rem);
    grid-template-rows: 160px;
    grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    overflow: auto;
    gap: 0px
}

.card{
    width: 80%;
    height: 160px;
    justify-self: center;
    display: grid;
    grid-template-rows: 0% 128px 20%;
    cursor: pointer;
    position: relative;
}


.card .design{
    background: rgb(184, 184, 184);
    border-radius: 8px;
    background-color: rgba(64,87,109,.07);
    background-image: linear-gradient(to bottom right,hsla(0,0%,100%,.15),rgba(64,87,109,.07));
    overflow: hidden;
}


.deleteCard{
    width: 30px;
    height: 30px;
    margin-left: 80%;
    margin-top: 5px;
    text-align: center;
    opacity: 0;
}

.likeDesign{
    width: 30px;
    height: 30px;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: calc(100% - 60px); 
    left: calc(100% -  35px);
}

.card:hover .deleteCard{
    animation: deleteCard 1s ease forwards;
}

.card:hover .likeDesign{
    animation: deleteCard 1s ease forwards;
}

.card .likeDesign.like{
    font-size: 20px;
    color: rgb(255, 255, 0);
    opacity: 1;
}


.card:hover .deleteCard i{
    margin-top: 5px;
}


.card .design svg{
    width: 100%;
    height: 100%;
}



@keyframes deleteCard{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
