:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #848a9a;
    --text-secondary: #000;
    --bg-primary: #f1f7fe;
    --bg-secondary: white;
    --transition-speed: 600ms;
    --icon-color: rgb(0, 0, 255);
}

.homeScreen {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 85% minmax(50px,15%);
    gap: 10px;
}


.linkText {
    display: none;
    margin-left: 1rem;
}


.search {
    width: 97%;
    padding: 4px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px -4px rgba(0, 0, 0, 0.75);
    font-weight: 700;
}

.removeBackgroundHover:hover {
    background: transparent;
}

.buttonNewProject {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #2196f3;
    padding: 5% 0 ;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.themeIcon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}