.nav{
    width: 100%;
    padding: 10px;
}

.listItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.item{
    width: 90%;
    border-radius: 8px;
    padding: 10px;
    background: #e2e4e7;
    align-self: center;
    cursor: pointer;
}

.item > a{
    color: black;
    text-decoration: none;   
}

.item > a > span{
    margin-left: 5px;
}


.item.bottom{
    position: absolute;
    bottom: 10px;
    width: 13.5rem;
}


@media only screen and (max-width: 1000px) {
    .nav{
        padding: 0px;
    }

    .listItems{
        flex-direction: row;
        border-top: 1px solid #00000091;
    }

    .item.bottom{
        position: relative;
        width: 90%;
        bottom: 0;
    }

    .item{
        background: none;
        font-size: 19px;
    }

    .item a{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}